body{
  background-color: #1B1B1B;
  font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”,
    “Droid Sans”, “Helvetica Neue”, sans-serif;
}


.PersonalPage {
  text-align : center ;
}

.App-logo {
  height       : 50px ;
  width        : 50px ;
  padding-top  : 5px  ;
  padding-left : 20px ;
  padding-right: 10px ;
  float        : left ;

}



/* --------- APP HEADER --------- */


.PersonalPageHeader {
  background-color: black               ;
  opacity         : 0.95                 ;
  height          : 65px                ;
  width           : 100%                ;
  color           : black               ;
  float           : center              ;
  text-align      : center              ;
  box-shadow      : 0px 0.51px 3px grey ;
  position        : fixed               ;
  z-index         : 5                   ;
}

.PersonalPageHeader ul {
  list-style-type: none   ;
  margin         : 0      ;
  padding        : 0      ;
  overflow       : hidden ;
}

.PersonalPageHeader li {
  float        : left;
}




.PersonalPageHeader button{
  float: left ; 
  background-color   : inherit           ;
  color              : #D5D5D5           ;
  font-size          : 16px              ;
  height             : 65px              ;
  width              : 150px             ;
  border             : none;
  padding-right      : 12px              ;
  padding-left       : 12px              ;
  -webkit-user-select: none              ;
  user-select        : none              ;
  font-family: arial ;

}

.PersonalPageHeader button:hover{
  background-color: #5A5A5A ;
  transition      : 0.6s    ;
}

.PersonalPageHeader button:focus{
    outline: none ;
}





.App-title {
  font-size: 12px ;
};

.App-intro {
  font-size: large ;
}


.Sidebar{
  position        : absolute ;
  width           : 3%       ;
  height          : 100%     ;
  background-color: #2D2D2D  ;
  text-align      : left     ;
  top             : 0%       ;
  bottom          : 0%       ; 
  z-index         : 4        ;
}





/* =====================  GENERAL  ===================== */


.Background img {
    position  : fixed  ;
    right     : 0      ;
    top       : 0      ;
    width     : 100%   ;
    height    : auto   ;
    min-width : 1200px ;
    z-index   : -5     ;
}


.teamName{
  position  : absolute ;
  color     : white    ;
  top       : 0px      ;  
  right     : 5%       ; 
  width     : 33%      ;
  font-size : 20px     ;
  text-align: right    ;
  z-index   : 0        ;
}


/* =====================  INTRO  ===================== */


.Intro .react-select__container{
  position: absolute;
  top: 40%;
  left:30%;
  width:40%;
}


.Intro .react-select__control{
  background-color: rgba(7,7,7,0.6);
  border-color:#F0F0F0;
  border-radius:1px;
  border-width:1px;
}


.Intro .react-select__menu{
  background-color: rgba(7,7,7,0.7);
  border-color:#F0F0F0;
  border-radius:1px;
  border-width:1px;
}

.Intro .react-select__menu-list{
  color:white;
}

.Intro .react-select__menu-list .react-select__option--isFocused{
  background: rgba(80,80,80,0.7); 
  color:white;
}




.Intro .react-select__input input{
  color: white;
}

.Intro .react-select__single-value{
  color:white;
}



.NameInput button:hover{
  background-color: red ;
  transition      : 0.6s    ;
}

.NameInput button:focus{
    outline: none ;
}



/* =====================  HOME  ===================== */

.Home .ProfilePicture{
  position : absolute ;
  width    : 200px    ;
  height   : auto     ;
  top      : 18%      ;
  right    : 12%       ;
  border   : 1px solid #021a40;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.8), 0 0 20px 2px rgba(0, 0, 0, 0.1);

}

.Home .textTitle{
  position  : absolute ;
  color     : white    ;
  top       : 110px     ;  
  left      : 10%      ; 
  font-size : 40px     ;
  text-align: left     ;
  z-index   : 0        ;
}

.Home .textExplication{
  position  : absolute ;
  color     : white    ;
  top       : 210px    ;  
  left      : 10%      ;
  width     : 50%    ;  
  font-size : 20px     ;
  text-align: left    ;
  z-index   : 0        ;
}



/* =====================  GAMES  ===================== */




/* =====================  INFO  ===================== */


/* BACKGROUNDS */

.Info .BossWhatDoI rect{
  fill    : #292929 ;
  opacity : 0.5     ;
  rx      : 3px     ;
  ry      : 3px     ; 
}

.Info .WhereDoIGo rect{
  fill    :#292929  ;
  opacity : 0.5     ;
  rx      : 3px     ;
  ry      : 3px     ;
}

.Info .WhoDoIContact rect{
  fill    :#7F0909  ;
  opacity : 0.6     ;
  rx      : 3px     ;
  ry      : 3px     ;
}



.Info .NotToForget svg .background{
  fill    : #292929 ;
  opacity : 0.5     ;
  rx      : 3px     ;
  ry      : 3px     ;
  z-index : -3      ;
}

.Info .Times svg .background{
  fill    : #292929 ;
  opacity : 0.5     ;
  rx      : 3px     ;
  ry      : 3px     ; 
  z-index : -3      ;
}

.Info .Contact svg .background{
  fill    : #7F0909 ;
  opacity : 0.6     ;
  rx      : 3px     ;
  ry      : 3px     ;
  z-index : -3      ;
  stroke  : #7F0909 ;
}










/* NOT TO FORGET */

.Info .BossWhatDoI{
  position:absolute;
  top     : 20% ;
  left    : 7%  ;
  z-index : 0   ;
}


.Info .BossWhatDoI text{
  font-family : 'Titillium Web', sans-serif;
  font-size   : 38px;
  text-anchor : middle;
  fill        : #D5D5D5;/*#FFC500 ;*/
}


.Info .NotToForget{
  position:absolute;
  top    : 30% ;
  left   : 7%  ;
  z-index: 0   ;
}


.Info .NotToForget svg .TitleY{
  fill        : #D5D5D5;/*#FFC500 ;*/
  font-family : 'Titillium Web', sans-serif;
  font-size   : 25px;
  text-anchor : start;
}


.Info .NotToForget svg .ListingY{
  font-family : 'Titillium Web', sans-serif;
  font-size   : 18px;
  fill        : #D5D5D5;/*#FFC500 ;*/
}


.Info .NotToForget svg .Separator{
  stroke       : #D5D5D5 ;
  stroke-width : 1; 
}


.Info .NotToForget svg .TitleN{
  fill        : #D5D5D5;/*#FFC500 ;*/
  font-family : 'Titillium Web', sans-serif;
  font-size   : 25px;
  text-anchor : start;
}


.Info .NotToForget svg .ListingN{
  font-family : 'Titillium Web', sans-serif;
  font-size   : 18px;
  fill        : #D5D5D5;/*#FFC500 ;*/
}


/* WHEREABOUTS */

.Info .WhereDoIGo{
  position:absolute;
  top   : 20% ;
  right : 10% ;
  z-index: 0;
}


.Info .WhereDoIGo text{
  font-family : 'Titillium Web', sans-serif;
  font-size   : 38px;
  text-anchor : middle;
  fill        : #D5D5D5;/*#FFC500 ;*/
}




.Info .Times{
  position:absolute;
  top    : 30% ;
  right  : 10% ;
  z-index: 0   ;
}

.Info .Times svg .Title{
  fill        : #D5D5D5;/*#FFC500 ;*/
  font-family : 'Titillium Web', sans-serif;
  font-size   : 25px;
  text-anchor : start;
}

.Info .Times svg .Address{
  fill        : #F5F5F5;/*#FFC500 ;*/
  font-family : 'Titillium Web', sans-serif;
  font-size   : 18px;
  text-anchor : start;
}






/* CONTACT INFO */

.Info .WhoDoIContact{
  position:absolute;
  top     : 60% ;
  right   : 10% ;
  z-index : 0   ;
}


.Info .WhoDoIContact text{
  font-family : 'Titillium Web', sans-serif;
  font-size   : 38px;
  text-anchor : middle;
  fill        : #D5D5D5;/*#FFC500 ;*/
}



.Info .Contact{
  position:absolute;
  top     : 70% ;
  right   : 10% ;
  z-index : 0   ;
}

.Info .Contact svg .Title{
  fill        : #D5D5D5;/*#FFC500 ;*/
  font-family : 'Titillium Web', sans-serif;
  font-size   : 14px;
  text-anchor : start;
}

.Info .Contact svg .ContactNames{
  fill        : #F5F5F5;/*#FFC500 ;*/
  font-family : 'Titillium Web', sans-serif;
  font-size   : 12px;
  text-anchor : start;
}

.Info .Contact svg .ContactNumbers{
  fill        : #F5F5F5;/*#FFC500 ;*/
  font-family : 'Titillium Web', sans-serif;
  font-size   : 12px;
  text-anchor : end;
}




/* name selection box */

